form {
    padding-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin: auto;
  }
  
  form label {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  form input,
  form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  