/* DiningHallDetail.css */

.detail-container {
  padding: 20px;
  background-color: #fff; /* Assuming a white background */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Needed for absolute positioning of children */
  height: 90vh; /* Viewport Height: Makes the container as tall as the viewport */
  overflow: hidden; /* Prevents content from causing scroll */
  flex-direction: column; /* Stacks children vertically */
}

.detail-title {
  margin: 10px;
  padding: 20px;
  color: black; /* White text */
  text-align: center;
}

.detail-content {
  flex: 1; /* Fill the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-content h2,
.detail-content h3 {
  margin: 10px 0; /* Spacing between title and content */
  color: #333; /* Dark grey color for the titles */
}

.detail-content p {
  margin: 5px 0; /* Spacing between the paragraphs */
  color: #666; /* Lighter grey color for the text */
}

.detail-container {
  text-align: center; /* This centers the text inside the container */
  background-color: antiquewhite;
}

.button-stack {
  display: flex;
  justify-content: center; /* This centers the flex items (buttons) horizontally */
  gap: 20px; /* This adds space between your buttons */
  padding-top: 20px; /* Space above the button group */
}

.dining-hall-image {
  display: flex;
  place-items: center;
  padding-top: 10px;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
