.Home {
  background-color: white; /* Set the background color of the entire page or container to white */
  position: relative; /* This allows us to position the circle relative to this container */
  min-height: 100vh;
  padding-bottom: 100px;
}

.Home-main {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(140px, 1fr)
  ); /* Adjust minmax values based on your design */
  gap: 20px; /* Adjust gap based on your design */
  padding: 20px; /* Adjust padding based on your design */
  justify-content: center;
}

.Home-header {
  text-align: left;
  padding-right: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px; /* Space between header and content */
  padding-top: 10px;
  padding-left: 20px;
}

/* Add additional styles for the back arrow, title, and illustration */
